<ion-content [fullscreen]="true">
  <ion-card class="profile-content">
    <div align="center" class="image">
      <ion-avatar>
        <img src="assets/avatar.png" />
      </ion-avatar>
    </div>

    <ion-item lines="none" class="profile">
      <ion-label class="ion-text-center">
        <ion-text color="secondary"
          >{{UserData?.firstName}} {{UserData?.lastName}}</ion-text
        >
        <!-- <p>
          <ion-text color="medium"></ion-text>
        </p> -->
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="options">
    <ion-row class="ion-margin">
      <ion-col size="12" class="ion-text-center">
        <ion-label>
          <p>
            <ion-text color="primary">{{UserData?.mobileNumber}}</ion-text>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col size="12" class="ion-text-center">
        <ion-label>
          <p>
            <ion-text color="primary">{{UserData?.email}}</ion-text>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col size="12" class="ion-text-center">
        <ion-label>
          <p>
            <ion-text color="primary">{{UserData?.address}}</ion-text>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
