<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="white" class="ion-margin ion-padding-start">
      Welcome
      <p>
        <ion-text color="white" class="ion-margin ion-padding-start"
          >to PNB Bank</ion-text
        >
      </p>
    </ion-label>
  </ion-grid>
  <!-- <div align="center">
    <img class="imgCls" src="assets/branding-logo.png" />
  </div> -->
  <!-- <ion-grid class="marginTop5">
    <div id="recaptcha-container" 
  data-callback="sendForm"
  data-size="invisible">
  </div>
    <form [formGroup]="form" class="ion-margin">
      <ion-card *ngIf="step1">
        <div class="ion-margin-vertical ion-padding">
          <ion-item lines="full">
            <ion-input
              numberOnly
              formControlName="mobile"
              inputmode="numeric"
              type="number"
              [maxlength]="10"
              placeholder="Enter mobile"
            ></ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="!form.get('mobile').valid && form.get('mobile').touched"
          >
            <ion-text
              class="error"
              *ngIf="form.get('mobile').hasError('required')"
            >
              * Please enter mobile number
            </ion-text>
            <ion-text
              class="error"
              *ngIf="form.get('mobile').hasError('pattern')"
            >
              * Please enter Valid mobile number
            </ion-text>
          </ion-text>
        </div>
        <div class="ion-margin-horizontal">
          <ion-button
            class="ion-margin-horizontal"
            size="large"
            expand="block"
            shape="round"
            color="primary"
            (click)="sendOtp()"
          >
            <ion-text>Log In</ion-text>
          </ion-button>
        </div>
      </ion-card>
      <ion-card *ngIf="step2">
        <div class="ion-padding">
          <app-otppin
            (pinChange)="onOtpChange($event)"
            [otp]="retrivedOTP"
            [length]="6"
            type="2"
            #otp
          ></app-otppin>
          <div class="ion-margin-horizontal">
            <ion-button
              class="ion-margin-horizontal"
              size="large"
              expand="block"
              shape="round"
              color="primary"
              (click)="onSubmit()"
            >
              <ion-text>Log In</ion-text>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </form>
  </ion-grid> -->
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
    <ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="danger" (click)="sendOtp()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>Get Started</ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">
          <div id="sign-in-button"></div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input
                numberOnly
                formControlName="mobile"
                inputmode="numeric"
                type="number"
                [maxlength]="10"
                placeholder="Enter mobile"
              ></ion-input>
            </ion-item>
            <ion-text
              color="danger"
              *ngIf="!form.get('mobile').valid && form.get('mobile').touched"
            >
              <ion-text
                class="error"
                *ngIf="form.get('mobile').hasError('required')"
              >
                * Please enter mobile number
              </ion-text>
              <ion-text
                class="error"
                *ngIf="form.get('mobile').hasError('pattern')"
              >
                * Please enter Valid mobile number
              </ion-text>
            </ion-text>
          </div>
        </form>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
