<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="slides.length > 0">
          <swiper-container
            #swiper
            (slidechange)="onSlideChange($event)"
            [modules]="swiperModules"
            [slidesPerView]="1.2"
            [initialSlide]="1"
            [centeredSlides]="true"
            [autoplay]="true"
            [spaceBetween]="20"
            [pagination]="{clickable: true, dynamicBullets: true}"
          >
            <!-- effect="flip" -->
            <swiper-slide *ngFor="let slide of slides">
              <img [src]="slide?.banner" />
            </swiper-slide>
          </swiper-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ng-container *ngFor="let item of slides; track i; let i = index">
      <ion-col sizeLg="3" sizeMd="4" sizeSm="6" sizeXl="3" sizeXs="6">
        <ion-card>
          <ion-thumbnail>
            <ion-img [src]="item?.banner"></ion-img>
          </ion-thumbnail>

          <ion-label>
            <ion-text color="dark"><strong>{{item?.name}}</strong></ion-text>
            <p>
              <ion-text color="dark">
                ₹<strong>{{item?.price}}</strong>
              </ion-text>

              <ion-text class="rating" color="dark">
                {{item?.rating}}
                <ion-icon name="star" color="warning"></ion-icon>
              </ion-text>
            </p>
          </ion-label>
        </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-content>
