<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="slides.length > 0">
          <swiper-container
            #swiper
            (slidechange)="onSlideChange($event)"
            [modules]="swiperModules"
            [slidesPerView]="1.2"
            [initialSlide]="1"
            [centeredSlides]="true"
            [autoplay]="true"
            [spaceBetween]="20"
            [pagination]="{clickable: true, dynamicBullets: true}"
          >
            <!-- effect="flip" -->
            <swiper-slide *ngFor="let slide of slides">
              <img [src]="slide?.banner" />
            </swiper-slide>
          </swiper-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <button mat-raised-button>Basic</button>
  </ion-row>
</ion-content>
