<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Loans </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleLock()">
        <ion-icon [name]="lock ? 'lock-closed' : 'lock-open-outline'">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col size="8">
      <ion-searchbar
        placeholder="enter index"
        [(ngModel)]="scrollTo"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="scrolltoIndex()" [disabled]="!scrollTo"
        >Scroll</ion-button
      >
    </ion-col>
  </ion-row>
  <cdk-virtual-scroll-viewport
    itemSize="50"
    minBufferPx="900"
    maxBufferPx="1350"
    class="example-viewport"
  >
    <ion-list>
      <ng-container
        *cdkVirtualFor="let item of apiService.arrayData;let isOdd=odd;let i=index"
      >
        <ion-list-header (click)="selectedItem(item.id)">
          <ion-label>{{item.name}}</ion-label>
        </ion-list-header>
        <ion-item [class.odd]="isOdd">
          <ion-label>
            <p>{{item?.phone}}</p>
            <p>{{item?.email}}</p>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>
